body, html {
  width: 100%;
  font-family: "微软雅黑";
  font-size: 100px;
  display: flex;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
header{
  .header_div1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .div_img {
      width: 30%;
      img{
        width: 100%;
      }
      margin: 0.08rem 0 0.08rem 0.09rem;
    }
    h1{
      font-size: 0.18rem;
      color: #000;
      margin-top: 0.15rem;
    }
    .ulList_1{
      width: 20%;
      margin: 0.09rem 0.09rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        width: 50%;
        span{
          height: 0.225rem;
          color: #999999;
        }
        P{
          font-size: 0.115rem;
          color: #999;
        }
      }
      li:nth-of-type(2){
        margin-top: 0.01rem;
        span{
          font-size: 0.155rem;
        }
      }
    }
  }
  .yiny{
    width: 100%;
    height: 0.09rem;
    background: #F4F4F4;
  }
  .header_div2{
    width: 95%;
    margin: 0.1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .div2_1{
      width: 40%;
      img{
        width: 100%;
      }
    }
    .div2_2{
      width: 58%;
      font-size: 0.12rem;
      p{
        margin-bottom: 0.05rem;
      }
      p:nth-of-type(1){
        font-size: 0.16rem;
        color: #000;
      }
      .span1{
        color: #909090;
      }
      .span2{
        color: #FD5661;
      }
      .span3{
        color: #1E1E1E;
      }
    }
    .div2_3{
      font-size: 0.12rem;
      color: #000;
      line-height: 25px;
    }
  }
}
nav{
  .ulList_2{
    width: 100%;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li{
      width: 25%;
      text-align: center;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.14rem;
      border-right: 1px solid #F5F5F5;
    }
    li:hover{
      border-bottom: 2px solid #32C78D;
    }
  }
  .nav_div{
    width: 100%;
    overflow: hidden;
    margin: 0.1rem 0;
    .ulList_3{
      width: 130%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        width: 25%;
        font-size: 0.16rem;
        text-align: center;
        height: 0.27rem;
        border: 1px solid #39C893;
        border-radius: 15px;
        color: #39C893;
        margin: 0 0.06rem;
      }
    }
  }
  table{
    width: 95%;
    margin: 0 auto;
  }
}
footer{
  position: relative;
  .footer_div1{
    width: 95%;
    margin: 0.18rem auto;
    font-size: 0.14rem;
    color: #333;
  }
  .yiny:nth-of-type(1){
    width: 100%;
    height: 0.09rem;
    margin-top: 0.2rem;
    background: #F4F4F4;
  }
  .yiny{
    width: 100%;
    height: 0.09rem;
    background: #F4F4F4;
  }
  .footer_div2{
    width: 0.47rem;
    height: 0.47rem;
    line-height: 0.47rem;
    position: absolute;
    right: 0.1rem;
    bottom: 0.8rem;
    z-index: 999;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #dedede;
    i{
      font-size: 0.2rem;
      color: #9c9c9c;
    }
  }
  .footer_div3{
    width: 90%;
    margin: 0 auto;
    div{
      width: 55%;
      margin: 0.18rem auto;
      font-size: 0.14rem;
      color: #333;
      i{
        padding-right: 0.05rem;
        font-size: 0.16rem;
        color: #37C791;
      }
    }
    .ulList_8{
      width: 100%;
      margin: 0.18rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        width: 25%;
        text-align: center;
        font-size: 0.14rem;
        color: #333;
      }
      li:nth-of-type(1){
        color: #37C791;
      }
    }
  }
  .footer_div4{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1rem;
    z-index: 100;
    .bgc1{
      width: 100%;
      height: 0.53rem;
      line-height: 0.53rem;
      text-align: center;
      color: #ffffff;
      background: #FE6A73;
      i{
        font-size: 0.28rem;
      }
      p{
        font-size: 0.28rem;
      }
    }
    .ulList_9{
      width: 100%;
      background: #000;
      li{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
          margin: 0.1rem 0.1rem;
          width: 0.3rem;
          height: 0.25rem;
        }
        div{
          position: relative;
          width: 80%;
          font-size: 0.12rem;
          span:nth-of-type(1){
            position: absolute;
            left: 0;
            top: 0.1rem;
            color: #ffffff;
          }
          span:nth-of-type(2){
            position: absolute;
            top: 0.1rem;
            left: 0.55rem;
            color: #FB9200;
          }
          p{
            position: absolute;
            bottom: 0.06rem;
            left: 0.13rem;
            font-size: 0.1rem;
            color: #7E7E7E;
          }
        }
      }
    }
  }
}
